
<div class="container">

    {{#each articles}}
    <div class="row mb-5">
        <div class="col-sm-3">
            <img src="{{image}}" width ="100%" alt="" >
        </div>
        <div class="col-sm-9">
              <a href="{{link}}" target ="_blank" > <h2>{{title}}</h2></a>   
              <p>{{summary}}</p>  
              <button data-id ="{{_id}}" class = "deleteBtn">DELETE</button>
        </div>
    </div>

    {{/each}}
</div>
